body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.header{
	background-image: url(file/HERO\ IMG.png);
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}

.container{
	margin: 0px 166px;
}

.header-line{
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-item{
	color: #fff;
	text-decoration: none; 
	font-weight: 700;
	font-size: 14px;

	margin-right: 25px;
	transition: color 0.3s linear;
}

.nav-item:hover{
	color: red;


}

.cart{
	position: relative;
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
	height: 50px;
}

.cart-img{
	position: absolute;
	top: 18px;
	right: 7px;
}

.num{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
	transition: color 0.3s linear;
}

.num:hover {
	color: blueviolet;

}


.phone-text{
	font-size:14px;
	font-weight: 400px;
	color:#fff;
}

.phone-holder{
	display: flex;
	align-items: center;

}

.button{
	background-color: #FF7400;
	text-decoration: none;
	
	
	
	
	color: #FFFFFF;
	font-weight: 700;
	padding: 14px 18px;
	transition: background-color 0.2s linear;
}

.button:hover{
	background-color: rgb(165, 54, 3);
}

.header-down{
	position: relative;
}

.header-title{
	color:#D67E35;
	font-weight: 400;
	font-size: 50px;
	line-height: 57px;

	font-family: 'Tinos', serif;
	text-align:center;
	position: absolute;
	left: 0;

	margin-top: 222px;
}

.header-subtitle{
	color: #D67E35;
	font-weight: 400;
	font-size: 80px;
	line-height: 92px;
}

.header-suptitle{
	color: #FFFFFF;
	font-size: 18px;
	font-family: 'Tinos', serif;
}

.header-suptitle:after{
	position: absolute;
	content: "";
	height: 2px;
	width: 61px;
	background-color: #FFFFFF;
	top: 175px;
	left: 84px;
}


.header-suptitle:before{
	position: absolute;
	content: "";
	height: 2px;
	width: 61px;
	background-color: #FFFFFF;
	top: 175px;
	left: 335px;
}

.cards-holder{
	display: flex;
	justify-content: center;
}

.card{
	width: 349px;
	box-shadow: 10px 10px 40px 20px #0000001A;
	margin-right: 31px;
	background-color: #fff;
	margin-top: -70px;
	padding: 10px 10px;
}

.card-image{
	display: flex;
	justify-content: center;
	padding-top: 31px;
}

.card-title{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;

	font-weight: 400;
	font-size: 26px;
	font-family: 'Tinos', serif;
}

.card-title span{
	color : #D67E35;

}

.card-desk{
	text-align: center;

	font-weight: 400;
	font-size: 26px;
	font-family: 'Tinos', serif;
	color: #656363;

}

.history{
	margin-top: 166px;
}

.history-title{
	font-weight: 400;
	font-size: 54px;
	font-family: 'Tinos', serif;
	width: 444px;
	text-align: center;
	margin-top: 21px ;
}

.history-title span{
	color:  #D67E35;
}

.history-desc{
	color: #656363;
	font-size: 16px;
	width: 444px;
	text-align: center;
}

.history-number{
	display: flex;
	width: 444px;
	justify-content: center;
	margin-top: 40px;
	margin-left: 30px;
}

.number-item{
	margin-right: 60px;
	text-align: center;
	font-size: 40px;
	color: #BC9060;

}

.number-item span{
	display: block;
	color: #000;
}

.history-images{
	position: relative;
}


.history-holder{
	display: flex;
}

.images-1{
	position: absolute;
	z-index: 300;
	top: 54px;
	left: 130px;
	width: 200px;
}

.images-2{
	position: absolute;
	z-index: 200;
	top: -24px;
	left: 214px;
	width: 200px;
}

.images-3{
	position: absolute;
	z-index: 999;
	top: 166px;
	left: 316px;
	width: 200px;
}

.images-4{
	position: absolute;
	z-index: 0;
	top: 106px;
	left: 280px;
	width: 200px;
}

.dishes-title{
	font-family: 'Tinos';
	font-weight: 400;
	font-size: 54px;
	text-align: center;
	padding-top: 132px;	
	margin-bottom: 139px;
}

.dishes-title span{
	color: #D67E34;
}

.hotdogs{
	display: flex;
	justify-content: center;
}
.hotdog-item{
	display: flex;
	align-items: center;
	margin-bottom: 29px;
}
.hotdog-img{
	margin-right: 20px;

}

.hotdog-text{
	font-family: 'Tinos';
	font-size: 26px;
	margin-left: 20px;

}

.main-hotdog{
	width: 411px;
	height: 474px;
}

.hotdog{
	width: 210px;
	height: 140px;
}


.comment{
	background-color: #E5E5E5;
	padding-top: 104px;
	padding-bottom: 139px;
}
.comment-text{
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Open Sans';
	font-style: italic;
	font-size: 20px;
}

.comment-img{
	border-radius: 50px;
}
.comment-image{
	text-align: center;
}
.comment-type{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 20px;
}
.comment-name{
	text-align: center;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 20px;
	padding-top: 9px;
}